In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
dataset=pd.read_csv('Bank-data.csv')

In [3]:
dataset.isnull().any()

Index            False
interest_rate    False
credit           False
Gender           False
previous         False
duration         False
Churn            False
dtype: bool

In [4]:
dataset.isnull().sum()

Index            0
interest_rate    0
credit           0
Gender           0
previous         0
duration         0
Churn            0
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          518 non-null    int64
 1   interest_rate  518 non-null    float64
 2   credit         518 non-null    int64
 3   Gender         518 non-null    int64
 4   previous       518 non-null    int64
 5   duration       518 non-null    int64
 6   Churn          518 non-null    object
dtypes: float64(1), int64(5), object(1)
memory usage: 28.5+ KB

In [6]:
dataset['Churn']=dataset['Churn'].astype('category')
dataset['Churn']=dataset['Churn'].cat.codes

In [7]:
dataset

     Index  interest_rate  credit  Gender  previous  duration  Churn
0        0          1.334       0       1         0       117      0
1        1          0.767       0       0         1       274      1
2        2          4.858       0       1         0       167      0
3        3          4.120       0       0         0       686      1
4        4          4.856       0       1         0       159      0
..     ...            ...     ...     ...       ...       ...    ...
513    513          1.334       0       1         0       204      0
514    514          0.861       0       0         1       806      1
515    515          0.879       0       0         0       290      0
516    516          0.877       0       0         1       473      1
517    517          4.965       0       0         0       142      0

[518 rows x 7 columns]

In [8]:
dataset['Churn'].value_counts()

0    259
1    259
Name: Churn, dtype: int64

In [9]:
x=dataset.drop(['Churn'],axis=1)

In [10]:
y=dataset[['Churn']]

In [11]:
x

     Index  interest_rate  credit  Gender  previous  duration
0        0          1.334       0       1         0       117
1        1          0.767       0       0         1       274
2        2          4.858       0       1         0       167
3        3          4.120       0       0         0       686
4        4          4.856       0       1         0       159
..     ...            ...     ...     ...       ...       ...
513    513          1.334       0       1         0       204
514    514          0.861       0       0         1       806
515    515          0.879       0       0         0       290
516    516          0.877       0       0         1       473
517    517          4.965       0       0         0       142

[518 rows x 6 columns]

In [12]:
y

     Churn
0        0
1        1
2        0
3        1
4        0
..     ...
513      0
514      1
515      0
516      1
517      0

[518 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=101)

In [16]:
#logistic model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
logit=LogisticRegression()
logit.fit(x_train,y_train)
y_pred=logit.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.8538461538461538

In [23]:
#apply pca
from sklearn.decomposition import PCA
pca=PCA(n_components=None)#all features are considered
x_train_pca=pca.fit_transform(x_train)
x_test_pca=pca.fit_transform(x_test)

In [24]:
pd.DataFrame(x_train)

     Index  interest_rate  credit  Gender  previous  duration
69      69          4.120       0       0         0       104
260    260          1.453       0       0         0       463
392    392          1.050       0       0         1       449
261    261          0.644       0       0         0       634
220    220          1.614       1       0         0       406
..     ...            ...     ...     ...       ...       ...
110    110          1.726       1       0         1       363
316    316          4.963       0       0         0       988
393    393          0.797       0       0         0       211
75      75          1.250       0       1         0       133
337    337          1.479       0       0         0       230

[388 rows x 6 columns]

In [25]:
pd.DataFrame(x_train_pca)

              0           1         2         3         4         5
0   -293.378624  175.880375  1.204506 -0.217953 -0.058617 -0.064395
1     74.599343    2.806120 -1.361333 -0.239816 -0.275379 -0.065405
2     67.122455 -129.723788 -1.785644 -0.402307  0.660350 -0.071831
3    245.440861   10.235364 -2.157012 -0.246891 -0.331914 -0.071690
4     15.697036   39.948247 -1.234058 -0.283169 -0.248414  0.928485
..          ...         ...       ...       ...       ...       ...
383  -32.672437  147.695008 -1.237047 -0.431870  0.760952  0.895611
384  601.721110  -27.248123  2.193456 -0.289801 -0.029500  0.005303
385 -170.538962 -142.453138 -1.981784 -0.229514 -0.344538 -0.063484
386 -264.117844  171.315922 -1.661586  0.778327 -0.106205 -0.056207
387 -154.322261  -85.584480 -1.321330 -0.230250 -0.287148 -0.061110

[388 rows x 6 columns]

In [29]:
# To check significsnt label in each slice

In [27]:
explained_variance=pca.explained_variance_ratio_

In [28]:
explained_variance

array([8.07144870e-01, 1.92823493e-01, 2.92532511e-05, 1.52261165e-06,
       6.96408766e-07, 1.64823601e-07])

In [30]:
#PCA_0=80.7%
#PCA_1=19.2%
#PCA_2=0.000029%
#PCA_3=0.0000015%
#............
#only pca_0 and pca_1 are giving max significance

In [31]:
#lets take n_components=2
#(A-lambda(I))X=0
#lambda values are calculted 
#A are feture values of each data point as given kin dataset
#X are unknoen values we got in x_train_pca

In [32]:
#lets take n_components=2

In [34]:
pca_2=PCA(n_components=2)#2 features are considered
x_train_pca_2=pca_2.fit_transform(x_train)
x_test_pca_2=pca_2.fit_transform(x_test)

In [35]:
logit=LogisticRegression()
logit.fit(x_train_pca_2,y_train)
y_pred=logit.predict(x_test_pca_2)
print(accuracy_score(y_test,y_pred))

0.7384615384615385

In [44]:
pca_4=PCA(n_components=4)#4 features are considered
x_train_pca_4=pca_4.fit_transform(x_train)
x_test_pca_4=pca_4.fit_transform(x_test)

In [45]:
logit=LogisticRegression()
logit.fit(x_train_pca_4,y_train)
y_pred=logit.predict(x_test_pca_4)
print(accuracy_score(y_test,y_pred))

0.4846153846153846

In [46]:
pca_1=PCA(n_components=1)#1 features are considered
x_train_pca_1=pca_1.fit_transform(x_train)
x_test_pca_1=pca_1.fit_transform(x_test)

In [47]:
logit=LogisticRegression()
logit.fit(x_train_pca_1,y_train)
y_pred=logit.predict(x_test_pca_1)
print(accuracy_score(y_test,y_pred))

0.7538461538461538

## take a large features dataset and try pca
#pca needs only encoding and balancing data all other missing values and outlier hjandling can be done by pca itself no nned to handle

- dropping  features and considering only few features has always impact on accuracy